@import './constants';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 1.2rem;
    font-weight: 100;
}

h3 {
    font-size: 1rem;
    font-weight: 100;
}

p {
    font-size: 0.8rem;
}

.app {
    
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;

    .home {
        height: 100%;
        display: flex;
    }
}