@import '../../sass/constants';

@mixin gabarites {
    height: 25px;
    width: 25px;
}

@mixin button {
    cursor: pointer;
    border: none;
    background: none;
}
@mixin  flex {
    display: flex;
    align-items: center;
}

.formMessage {
    background-color: $dialog-elements-color;

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8.5px 25px;

        &-div{
            @include flex();
            flex-grow: 1;
            
            button {
                margin-right: 20px;
            }
        }

        &-sending{
            @include flex();
            margin-left: 20px; 
        }

       &-div{
            @include flex();
       }
    }
}