@import '../../../sass/constants';

@mixin gabarites {
    height: 25px;
    width: 25px;
}

@mixin button {
    cursor: pointer;
    border: none;
    background: none;
}
@mixin  flex {
    display: flex;
    align-items: center;
}

.formMessage {
    background-color: $dialog-backgroung-color;

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 30px;

        &-div{
            @include flex();

            &-input {
                color: #000;

                input {
                    background: none;
                    color: #000;

                    &:focus {
                        background: none;
                        border: none;
                    }
                }
            }
    
            &-clip {
                margin-right: 14px;

                button {
                    @include button();

                    img {
                    @include gabarites()  
                    }
                }
                
            }
        }

       &-div{
            @include flex();
            
            &-smile {
                @include gabarites();
                @include button();
                margin-right: 14px;
            }

            &-plane{

                button {
                    @include button()
                }
            }   
       }
    }
}