@import '../../sass/constants';

.profileWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    .profile {
        background-color: $basis-background-color;
        width: 400px;
        height: 90%;
        padding: 25px;
        border-radius: 5px;

        .additionalInfo {
            margin-top: 40px;
        }

        .headerProfile {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
}
