button {
    border: none;
    outline: none;
    background-color: inherit;
    user-select: none;

    img {
        cursor: pointer;
        opacity: 0.7;
    }
}

button + button {
    margin-left: 20px;
}