@import '../../../sass/constants';

.imageButton {
    border: none;
    outline: none;
    background-color: inherit;
    user-select: none;
    box-sizing: content-box;
    
    .image {
        cursor: pointer;
        opacity: 0.5; 
    }

    &-more {
        transform: rotate(90deg);
    }
}

.imageButton + .imageButton {
    margin-left: 20px;
}

.image:hover {
    opacity: 0.7; 
}

.imageButton:active {
    outline: 7px solid $elements-background-color;
    border-radius: 50%;
    background-color: $elements-background-color;
}

.imageButton-burger {
    margin-right: 10px;
}
