@import '../../sass/constants';

@mixin buttons {
    background: none;
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dialog-elements-color;
    position: relative;
}

.header-dialog {
    padding: 10px 30px;
}

.header-modal {
    user-select: none;
    margin-bottom: 25px; 
    padding: 25px 25px 0;
    border-radius: 10px;
}

.header-sidebar {
    padding: 10px;
}

.header-profile {
    padding: 25px;
    color: #fff;
}