@import '../../../sass/constants' ;

.text {
    padding: 10px 15px;
    border: none;
    background-color: $elements-background-color;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.text:focus {
    border: none;
    outline: 2px solid #4aade6;
    background-color: #fff;
}

.color {
    margin: 5px 0 5px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: inherit;
}