.colorWrapper {
    padding: 5px 10px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .suggested-colors {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        span {
            width: 30px;
            height: 30px;
            margin: 5px;
            outline: 1px solid #333;
        }
    }

    button {
        margin-top: 5px;
    }
}   

span:active {
    transform: scale(0.9);
}