@import '../../sass/constants';

.sidebar {
    background-color: $basis-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ddd;
    height: 100%;

    .search{
        padding: 10px;
    }

    .dialogsList {
        flex-grow: 1;
    }

    .navbar{
        padding: 10px 25px;
        box-shadow: 0 -1px 3px #ddd;
        
        display: flex;
        justify-content: space-between;
    }
}
