@import '../../sass/constants';

.sidebar {
    background-color: $basis-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ddd;
    height: 100%;

    .dialogsList {
        flex-grow: 1;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            height: 1px;
            border-radius: 5px;
            background-color: #bbb;
        }
    }

    .navbar{
        padding: 10px 25px;
        box-shadow: 0 -1px 3px #ddd;
        display: flex;
        justify-content: space-between;
    }
}